.Burger{
    margin: auto;
    width: 100%;
    height: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 0;
}

@media (min-width: 500px) and (min-height: 400px) {
    .Burger{
        width: 350px;
        height: 250px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Burger{
        width: 450px;
        height: 300px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Burger{
        width: 700px;
        height: 500px;
    }
}