.Button {
    background-color: transparent;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    margin: 10px;
    font-weight: bold;
    border: 1px solid silver;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
}

.Button:first-of-type {
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}